@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #353531;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  color: white;
}

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

ul, li {
  color: white;
}

.nav {
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container__links {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  margin: 8px;
}

.header {
  height: 100%;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__container__unit, .header__container__unit__link {
  width: 100%;
  height: 30vw;
  margin: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .header__container__unit, .header__container__unit__link {
    -webkit-clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
            clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
  }
}

.header__container__unit__link:first-child {
  background-image: url("./assets/codingscreen.jpg");
  background-size: 200%;
}

.header__container__unit__link:nth-child(2) {
  background-image: url("./assets/webdesigndemo.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header__container__unit__link:nth-child(2):hover {
  -webkit-filter: none;
          filter: none;
}

.header__container__unit__link:last-child {
  background-image: url("./assets/shopify_glyph.svg");
  background-size: cover;
}

.header__container__unit__heading {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  -webkit-filter: drop-shadow(10px 5px 10px black);
          filter: drop-shadow(10px 5px 10px black);
}

.skill {
  margin: 0 8px;
}

.skill__divider, .skill__divider--blue, .skill__divider--orange {
  width: 30%;
  border: 2px solid #ec4e20;
  margin: auto;
}

.skill__divider--blue {
  border: 2px solid #016fb9;
}

.skill__divider--orange {
  border: 2px solid #ff9505;
}

@media screen and (min-width: 768px) {
  .skill__divider, .skill__divider--blue, .skill__divider--orange {
    margin: 0;
  }
}

.skill__container {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .skill__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.skill__container__unit {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .skill__container__unit {
    width: 50%;
  }
}

.skill__container__unit__title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .skill__container__unit__title {
    text-align: left;
  }
}

.skill__container__unit__list {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.skill__container--2 {
  margin: 8px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (min-width: 768px) {
  .skill__container--2 {
    width: 50%;
    margin: 32px 0;
  }
}

.skill__container--2__square {
  width: 30%;
  background-color: white;
  border: 1px solid #353531;
  padding: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skill__container--2__square:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  display: block;
}

.skill__container--2__img {
  width: 100%;
}

.skill__container--2__button {
  width: 50%;
  background-color: #016fb9;
  padding: 4px;
  margin: 4px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  text-align: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .skill__container--2__button {
    font-size: 1em;
  }
}

.skill__container--2__text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #353531;
  font-size: 0.5em;
  display: none;
}

@media screen and (min-width: 768px) {
  .skill__container--2__text {
    font-size: 1em;
  }
}

.skill__container--2__square:hover * {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: block;
}

.footer {
  margin: 8px;
}

.footer__link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */