@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #353531;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  color: white;
}

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

ul, li {
  color: white;
}

.nav {
  margin: 0 8px;
}

.header {
  height: 100%;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__container__unit {
  background-color: #ec4e20;
  width: 100%;
  height: 30vw;
  margin: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container__unit__heading {
  color: #353531;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

.skill {
  margin: 0 8px;
}

.skill__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .skill__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.skill__container__unit {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .skill__container__unit {
    width: 50%;
  }
}

.skill__container__unit__list {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.skill__container--2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (min-width: 768px) {
  .skill__container--2 {
    width: 50%;
  }
}

.skill__container--2__square {
  width: 30%;
  background-color: white;
  border: 1px solid #353531;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skill__container--2__square:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.skill__container--2__img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */