

html,body{
    margin: 0;
    padding: 0;
    background-color: $olive;
}

h1,h2,h3,h4,h5{
    color: white;
}

p{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

ul, li{
    color: white;
}